.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.accent input {
  background: #1a0606;
  padding: 7px 10px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}
.record_button {
  background-color: rgba(5, 63, 20, 0.938);
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
 
}
.stop_button {
  background-color: rgba(172, 8, 8, 0.938);
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
 
}
.reset_button {
  background-color: rgba(222, 255, 32, 0.938);
  color: rgb(12, 0, 0);
  border: none;
  font-weight: 600;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
 
}
.record_button:hover {
  transform: scale(1.2);
}

.record_button:active {
  transform: scale(0.9);
  background-color: lightblue;
}
.stop_button:hover {
  transform: scale(1.2);
}

.stop_button:active {
  transform: scale(0.9);
  background-color: lightblue;
}
.reset_button:hover {
  transform: scale(1.2);
}

.reset_button:active {
  transform: scale(0.9);
  background-color: lightblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}